.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4em;

  .icon-on {
    color: #ccc;  
  }

  .icon-off {
    color: #ccc; 
  }

  &:focus {
    outline: none;
  }
}

@keyframes flash {
  0% { color: yellow; }
  25% { color: white; }
  50% { color: yellow; }
  75% { color: white; }
  100% { color: yellow; }
}

.icon-flash {
  animation: flash 1s;
}