@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

// Color variables for dark mode
.dark-mode {
  --background-color: #33363c;
  --text-color: #f5f5f5;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
}

.dark-mode {
  .topic-item {
    color: #ccccccc9;
  }
}

.dark-mode {
  .photo-list__item {
    background-color: #ccccccc9; 
  }
}

.dark-mode {
  .top-nav-bar__logo {
    color: #ccccccc9; 
  }
}

.dark-mode {
  .topic-list__item span {
    color: #ccccccc9; 
  }
}

.dark-mode {
  .photo-details-modal {
    background-color: #33363c; 
    
  }
}

.dark-mode {
  .photo-list__user-location {
    color: #33363c; 
    
  }
}

.dark-mode {
  .photo-list__fav-icon-svg button {
    background-color: #ccccccc9; 
    
  }
}